@font-face {
    font-family: "Akira";
    src: url("../src/assets/fonts/Akira/Akira.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

#root .container {
    display: flex;
    position: relative;
    flex-direction: column;
}

#capture {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1900px;
    height: 1042px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Akira, sans-serif;
    letter-spacing: 0.5rem;
}
#capture.positive {
    background-image: url("../src/assets/images/template-positive.png");
}
#capture.negative {
    background-image: url("../src/assets/images/template-negative.png");
}

#capture > div.captureContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#capture > div.captureContainer > div.tokenNameContainer {
    position: absolute;
    top: 468px;
    left: 125px;
    width: 567px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}
#capture > div.captureContainer > div.tokenNameContainer > p.tokenName {
    font-weight: 400;
    color: white;
    width: 100%;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 8px;
}

#capture > div.captureContainer > p.pnlSol {
    position: absolute;
    top: 254px;
    right: 198px;
    font-weight: 800;
    font-size: 110px;
    line-height: 127px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: rgba(15, 255, 75, 1);
    text-shadow: 7px 12px 35px rgba(15, 255, 75, .5);
}
#capture.negative > div.captureContainer > p.pnlSol {
    color: rgba(251, 40, 40, 1);
    text-shadow: 7px 12px 35px rgba(251, 40, 40, .5);
}

#capture > div.captureContainer > p.pnlUsd {
    position: absolute;
    color: white;
    top: 407px;
    right: 260px;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#capture > div.captureContainer > p.return {
    position: absolute;
    color: white;
    top: 709px;
    right: 81px;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
}

#capture > div.captureContainer > p.investedSol {
    position: absolute;
    color: white;
    bottom: 74px;
    right: 150px;
    font-weight: 800;
    font-size: 56px;
    line-height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.editor {
    margin-bottom: 10px;
}

.editor .editor-label {
    display: block;
    font-weight: bold;
    color: black;
}

.editor .editor-input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
