#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

#root .container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20rem;
}

.editor {
    margin-bottom: 10px;
}

.editor .editor-label {
    display: block;
    font-weight: bold;
    color: black;
    text-align: left;
}

.editor .editor-input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

#download {
    margin-top: 5px;
    width: 100%;
}

#download > button {
    width: 100%;
}
